<!DOCTYPE html  SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <!--以下为公共部分-->
    <div class="footer el-row">
        <div id="pcFooter" class="footer-content el-row is-justify-center el-row--flex">
            <div class="el-col el-col-6">
                <h3 class="list-title">Online Systems</h3>
                <ul>
                    <li class="list-item">
                        <a href="http://www.geofuturelab.com/" target="_blank">Problem Solving
                            Platform</a>
                    </li>
                    <li class="list-item">
                        <a href="https://geomodeling.njnu.edu.cn/PMIP/home" target="_blank">Model Comparison Platform</a>
                    </li>
                </ul>
            </div>

            <div class="el-col el-col-6">
                <h3 class="list-title">Online Tools</h3>
                <ul>

                    <li class="list-item">
                        <a href="http://106.14.78.235:8899" target="_blank" >Data Service Container</a>
                    </li>
                    <li class="list-item">
                        <a href="http://106.14.78.235:8060/index" target="_blank">Model Service Container</a>
                    </li>


                </ul>
            </div>


            <div class="el-col el-col-6">

                <h3 class="list-title">About</h3>
                <ul>
                    <li class="list-item">
                        <a href="http://opengmsteam.com/">About OpenGMS</a>
                    </li>
                    <li class="list-item">
                        <a href="/register">Join us</a>
                    </li>
                    <!--<li class="list-item">-->
                        <!--<a href="mailto:opengms@njnu.edu.cn">Suggestions</a>-->
                    <!--</li>-->
                </ul>
            </div>

            <div class="el-col el-col-6">
                <h3 class="list-title">
                    Contact
                </h3>
                <ul>
                    <li class="list-item">
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:opengms@njnu.edu.cn">
                        &nbsp;opengms@njnu.edu.cn</a>
                    </li>
                    <li class="list-item">
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:opengms@126.com">
                        &nbsp;opengms@126.com</a>
                    </li>
                    <li class="list-item">
                        <i class="fa fa-wechat"></i>
                        <a id="wx" style="cursor:pointer">
                            &nbsp;&nbsp;VGETeam
                        </a>
                    </li>

                </ul>
                <div class="qrcodeShow" id="wxqrcode" style="display: none;position: absolute;right:0;bottom:35px">
                    <img style="width:95px;height: 95px;" th:src="@{img/weixin/qrcode.bmp}"></div>
            </div>
        </div>
        <!--            小屏适配-->
        <!--            小屏适配-->
        <!--        <div class="footer-content el-row is-justify-center el-row&#45;&#45;flex phoneFooterContent">-->
        <div id="phoneFooterContent" style="margin-left: 0;width: 100%">
            <ul style="width: 100%;">
                <li><a type="button" data-toggle="collapse" data-target="#subDocuments" style="cursor:pointer">
                    <h3 class="list-title">Online Systems
                        <div class="arrow" style="right: 4%;border-top: 2px solid;border-right:2px solid;"></div>
                    </h3>
                </a></li>
                <ul id="subDocuments" class="collapse">
                    <li><a href="http://94.191.49.160:8080/GeoProblemSolving/home">Problem Solving Platform</a></li>
                    <li><a href="https://geomodeling.njnu.edu.cn/PMIP/home">Model Comparison Platform</a></li>
                </ul>
                <li>
                    <a type="button" data-toggle="collapse" data-target="#subOnLineTls" style="cursor:pointer">
                        <h3 class="list-title">Online Tools
                            <div class="arrow" style="right: 4%;border-top: 2px solid;border-right:2px solid;"></div>
                        </h3>
                    </a>
                </li>
                <ul id="subOnLineTls" class="collapse">
                    <li><a href="http://106.14.78.235:8899/">Data Service Container</a></li>
                    <li><a href="http://106.14.78.235:8060/index">Model Service Container</a></li>

                </ul>
                <li><a type="button" data-toggle="collapse" data-target="#subAbout" style="cursor:pointer">
                    <h3 class="list-title">About
                        <div class="arrow" style="right: 4%;border-top: 2px solid;border-right:2px solid;">

                        </div>
                    </h3>
                </a></li>
                <ul id="subAbout" class="collapse">
                    <li><a href="http://opengmsteam.com/">About OpenGMS</a></li>
                    <li><a href="/user/register">Join Us</a></li>
                </ul>
                <li><a type="button" data-toggle="collapse" data-target="#subContact" style="cursor:pointer">
                    <h3 class="list-title">Contact
                        <div class="arrow" style="right: 4%;border-top: 2px solid;border-right:2px solid;"></div>
                    </h3>
                </a></li>
                <ul id="subContact" class="collapse">
                    <li class="list-item">
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:opengms@njnu.edu.cn">
                        &nbsp;opengms@njnu.edu.cn</a>
                    </li>
                    <li class="list-item">
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:opengms@126.com">
                        &nbsp;opengms@126.com</a>
                    </li>
                    <li class="list-item">
                        <i class="fa fa-wechat"></i><a>
                        &nbsp;&nbsp;VGETeam</a>
                    </li>
                </ul>
            </ul>
        </div>
        <!--        </div>-->
        <div class="footer-content copyright el-row">
            <h2 class="copyright-title">Open Geographic Modeling and Simulation</h2>

            <span>Copyright © 2013-2020 OpenGMS. All Rights Reserved.</span>
        </div>
    </div>

</div>
</body>

</html>
